.App {
  overflow-x: hidden;
  overflow-y: visible;
}

.row {
  display: flex;
  padding: 1rem;
  flex-direction: column-reverse;
  width: auto;
  margin-left: 17rem;
}

.row2 {
  display: flex;
  padding: 1rem;
  flex-direction: column;
  width: auto;
  margin-right: 17rem;
}

.container {
  width: 100vw;
  display: flex;
  flex-direction: row;
  padding-left: 1rem;
  /* margin-left: 1rem; */
  overflow-x: hidden;
}


.static {
  display: flex;
  flex-direction: row;
  padding: 1rem;
  margin: 1rem;
  background-color: rgba(196, 195, 194, 0.083);
  width: auto;
  border-radius: 0.75rem;
  font-family: Tahoma, sans-serif;
  font-size: 1.2rem;
  box-shadow: 0px 2px 12px -7px rgb(255, 144, 54)
}

.flag {
  width: 2rem;
  height: 2rem;
  padding: 1px;
  margin-right: 1rem
}

.map {
  width: 8rem;
  height: 5rem;
  padding: 5px;
  border-radius: 25px;
}